{
  "presets": [
    "env",
    ["es2015", {"modules": false}],
    "es2016",
    "stage-2"
  ],
  "plugins": [
    "transform-runtime",
    "transform-es2015-modules-commonjs",
    ["module-alias", [
      { "src": "./config", "expose": "config" },
      { "src": "./helpers", "expose": "helpers" }
    ]]

  ],
  "sourceMaps": "both",
  "compact" : false
}
